EXAMPLE_STANDARD_PROTOCOL=http
EXAMPLE_STANDARD_LOGS=500
EXAMPLE_STANDARD_DURATION=2s
EXAMPLE_STANDARD_LEVELS=INFO,WARN,ERROR,CRITICAL
EXAMPLE_STANDARD_BATCH_SIZE=25
EXAMPLE_STANDARD_SEED=42

EXAMPLE_ALERT_PROTOCOL=http
EXAMPLE_ALERT_LOGS=1000
EXAMPLE_ALERT_DURATION=2s
EXAMPLE_ALERT_LEVELS=ERROR,CRITICAL
EXAMPLE_ALERT_UNIQUE_K=10
EXAMPLE_ALERT_BATCH_SIZE=50
EXAMPLE_ALERT_SEED=777

DEMO_ADMIN_USERNAME=Ayin
DEMO_ADMIN_PASSWORD=admin123
DEMO_ENGINEER_1_USERNAME=Benjamin
DEMO_ENGINEER_1_PASSWORD=eng123
DEMO_ENGINEER_1_ALLOWED_APPS=sshd(pam_unix),kernel,syslogd 1.4.1,su(pam_unix),logrotate,network
DEMO_ENGINEER_2_USERNAME=Carmen
DEMO_ENGINEER_2_PASSWORD=eng456
DEMO_ENGINEER_2_ALLOWED_APPS=ftpd,snmpd,cups,rc,named,xinetd,login(pam_unix)
